{% extends 'base.html' %} {% block title %} Create User {% endblock %} {% block
content %}

<div class="container">
  <h1>Create a User</h1>

  <form>
    <div class="mb-3">
      <label for="first-name" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        name="first-name"
        id="first-name"
        placeholder="Enter a first name"
      />
    </div>
    <div class="mb-3">
      <label for="last-name" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="last-name"
        id="last-name"
        placeholder="Enter a last name"
      />
    </div>
    <div class="mb-3">
      <label for="image-url" class="form-label">Image URL</label>
      <input
        type="text"
        class="form-control"
        name="image-url"
        id="image-url"
        placeholder="Provide an image for this user"
      />
    </div>
    <button class="btn btn-outline-primary" formaction="/users">Cancel</button>
    <button class="btn btn-success" formaction="/users/new" formmethod="POST">
      Add
    </button>
  </form>
</div>
{% endblock %}
