{% extends 'base.html' %} {% block title %} Home Page {% endblock %} {% block
content %}
<div class="container">
  <h1>Blogly Recent Posts</h1>
  <form>
    <button class="btn btn-secondary btn-lg" formaction="/users">Users</button>
  </form>
  {% for post in posts %}
  <div class="card border-0">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">{{ post.content }}</p>
      <p class="card-text">
        By {{ post.user.full_name() }} on {{ post.time() }}
      </p>
      <section class="card-text">
        {% if post.tags %}
        <strong>Tags:</strong> {% for tag in post.tags %}
        <span class="badge text-bg-primary">{{ tag.name }}</span> {% endfor %}
        {% endif %}
      </section>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
