{% extends 'base.html' %} {% block title %} Users {% endblock %} {% block
content %}

<div class="card mt-3 ms-2 border-0" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{user.image_url}}"
        class="img-fluid rounded-start"
        alt="{{user.first_name+' '+user.last_name}}s profile image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{user.first_name+' '+user.last_name}}</h2>
        <section>
          <form>
            <button
              class="btn btn-primary"
              formaction="/users/{{user.id}}/edit"
            >
              Edit
            </button>
            <button
              class="btn btn-danger ms-1"
              formaction="/users/{{user.id}}/delete"
              formmethod="POST"
            >
              Delete
            </button>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container" id="user">
  <div class="container" id="user-image">
    <img
      src="{{user.image_url}}"
      alt="{{user.first_name + ' ' + user.last_name}} profile image"
      width="200"
      height="250"
    />
  </div>
  <div class="container" id="user-details">
    <h1>{{user.first_name + ' ' + user.last_name}}</h1>
    <button class="btn btn-primary">Edit</button
    ><button class="btn btn-danger">Delete</button>
  </div>
</div> -->
{% endblock %}
