{% extends 'base.html' %} {% block title %} Users {% endblock %} {% block
content %}

<div class="card mt-3 ms-2 border-0" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ user.image_url }}"
        class="card-img-s img-fluid rounded-start"
        alt="{{ user.full_name() }}s profile image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ user.full_name() }}</h2>
        <section>
          <form>
            <button
              class="btn btn-primary btn-sm"
              formaction="/users/{{ user.id }}/edit"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm ms-1"
              formaction="/users/{{ user.id }}/delete"
              formmethod="POST"
            >
              Delete
            </button>
          </form>
        </section>
        <div class="mt-4">
          <h3>Posts</h3>
          <ul>
            {% for post in user.posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
          <form>
            <button
              class="btn btn-primary"
              formaction="/users/{{ user.id }}/posts/new"
              formmethod="GET"
            >
              Add Post
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
